body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66bfbf;
  font-size: 5.625rem;
  margin-top: 50px;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66bfbf;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted #808080 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 3%;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  font-size: 150%;
}
a:hover{
  color: white;
}

.picture {
  margin-top: 100px;
  border-radius: 50%;
  width: 10%;
}

.intro {
  width: 30%;
  margin: auto;
  margin-bottom: 30px;
  line-height: 2;
}
.contact-me{
  width: 30%;
  margin: auto;
}

.objective{
  line-height: 2;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.bottom-container{
  background-color: #66bfbf;
  padding: 60px 0 20px;
}

.skill-1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px;
  text-align: left;
  line-height: 2;
}

.copyright{
  color: white;
  padding: 20px;
}

.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   height: 50px;
   line-height: 50px;
   color: #FFFFFF;
   font-family: Arial;
   width: 200px;
   font-size: 24px;
   font-weight: 700;
   padding: 5px;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 2px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 100px;
}

.btn:hover {
   border: solid #337FED 2px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}
